body {
  font-family: arial, sans-serif;
  padding: 0 0.5em;
  font-size: 1.4em;
}

h1 {
  font-size: 1.5em;
}

form#new-todo input[type=text] {
  width: 100%;
  padding: 0.4em;
  border-radius: 0.2em;
  border-width: 2px;
  border-color: #ddd;
  font-size: inherit;
}

ul#todos {
  list-style: none;
  padding-left: 0;
  border-top: 1px solid #ddd;
}

ul#todos li form {
  display: flex;
  align-items: center;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

ul#todos input[type=checkbox] + label {
  padding: 0.5em;
  flex-grow: 1;
}

ul#todos input[type=checkbox]:checked + label {
  text-decoration: line-through;
}
